body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

.container {
    max-width: 1158px;
    padding: 0 auto;
    margin: 0 auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

ul,
ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

/* HEADER */

.header {
    display: block;
}
.header-nav {
    padding-top: 24px;
    padding-bottom: 24px;
}

.nav-logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.nav-logo .accent {
    color: #2e2f42;
}

.nav-menu-list {
}
.nav-menu-item {
}

.nav-menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.nav-menu-link:hover,
.nav-menu-link:focus {
    color: #404bbf;
}

.header-address {
    font-style: normal;
}
.adress-menu-list {
}
.adress-menu-item {
}

.adress-menu-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.adress-menu-link:hover,
.adress-menu-link:focus {
    color: #404bbf;
}

/* HERO */

.hero {
    background-color: #2e2f42;

    text-align: center;
}

.hero-title {
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    padding-top: 188px;
    margin-bottom: 48px;
    max-width: 496px;
    display: inline-block;
}

.hero-btn {
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
}

.hero-btn-block {
    padding-bottom: 188px;
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: #404bbf;
}

/* ADVANTAGES */

.advantages {
}
.advantages-list {
    padding-top: 120px;
    padding-bottom: 120px;
}
.advantages-list-item {
}

.advantages-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.advantages-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* TEAM */

.team {
    background-color: #f4f4fd;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 70px;
}

.team-list {
    padding-bottom: 120px;
}

.team-list-item {
    background-color: #fff;
}

.team-list-image {
}

.team-list-block {
    padding: 32px 68px;
}

.team-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
}

/* PORTFOLIO */

.portfolio {
}

.portfolio-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    padding-top: 120px;
    padding-bottom: 72px;
}

.portfolio-list {
}
.portfolio-list-item {
}
.portfolio-list-image {
}

.portfolio-list-block {
    padding-top: 32px;
    padding-bottom: 64px;
    padding-left: 16px;
}

.portfolio-list-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-bottom: 8px;
}

.portfolio-list-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* FOOTER */

.footer {
    background-color: #2e2f42;
}
.footer-logo-box {
    padding-top: 100px;
}

.footer-logo {
    display: block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-bottom: 16px;
}

.footer-logo .accent {
    color: #f4f4fd;
}

.footer-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding-bottom: 100px;
    max-width: 264px;
}
